footer {
    position: fixed;
    bottom: 0;
    height: 5em;
    background-color: rgba(238, 238, 238, 0.92);
    width: 100%;
}

.wrapper {
    margin-bottom: 5em;
}

.contact {
    font-size: 3em;
}

.lolcommits {
    border-radius: 5px;
}