<div class="container" ng-controller="HomeController">
	<div>
		<h1>Hi,</h1> 
		<p>My name is Lucas Vieira. I'm 19 years old and live in Brazil. I study <a href="http://sin.inf.ufsc.br" target="_blank">Information Systems</a> at the Federal University of Santa Catarina (<a href="http://www.ufsc.br" target="_blank">UFSC</a>) where I am attending the fourth phase of the course. I have worked as an intern at Superintendence of Electronic Governance and Information and Communication (<a href="http://www.setic.ufsc.br" target="_blank">SeTIC</a>) and currently as an intern at the Point of Presence of the National Network for Teaching and Research in Santa Catarina (<a href="http://www.pop-sc.rnp.br" target="_blank">PoP-SC</a> <a href="http://www.rnp.br" target="_blank">RNP</a>).</p>
	</div>
</div>
