<div class="container">
  <div class="row" ng-repeat="projectRow in projects">
    <div ng-repeat="projectCol in projectRow">
      <div class="col-sm-6 col-lg-4">
        <a ng-href="{{projectCol.href}}" target="_blank">
          <div class="thumbnail">
            <img ng-src="{{projectCol.img}}" alt="" style="max-height: 180px;">
            <div class="caption">
              <h3>{{projectCol.title}}</h3>
              <p>{{projectCol.description}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
