<div class="container">
    <div>
        <h1>Hi,</h1> 
        <p>My name is Lucas Vieira. I'm 19 years old and live in Brazil. I study <a href="http://sin.inf.ufsc.br" target="_blank">Information Systems</a> at the Federal University of Santa Catarina (<a href="http://www.ufsc.br" target="_blank">UFSC</a>) where I am attending the fourth phase of the course. I have worked as an intern at Superintendence of Electronic Governance and Information and Communication (<a href="http://www.setic.ufsc.br" target="_blank">SeTIC</a>) and currently as an intern at the Point of Presence of the National Network for Teaching and Research in Santa Catarina (<a href="http://www.pop-sc.rnp.br" target="_blank">PoP-SC</a> <a href="http://www.rnp.br" target="_blank">RNP</a>).</p>
        </br></br>
        <p class="text-center"><b>I'm also in love with <a href="https://github.com/mroth/lolcommits">lolcommits</a> \o/</b></p>
    </div>
</br>
    <div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item" ng-repeat="lolcommit in lolcommits" ng-class="{active: $index == 0}">
                    <img class="center-block img-responsive lolcommits" ng-src="{{lolcommit}}" alt="sadness" style="max-height: 40%;">
                </div>
            </div>
        </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    </div>
</div>
