<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="active"><a href data-target="#node" role="tab" data-toggle="tab">Node.js</a></li>
        <li><a href data-target="#games" role="tab" data-toggle="tab">Games</a></li>
        <li><a href data-target="#webapps" role="tab" data-toggle="tab">Webapps</a></li>
        <li><a href data-target="#others" role="tab" data-toggle="tab">Others</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
    </br></br>
        <div class="tab-pane active" id="node">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" ng-repeat="projectRow in projects.node">
                        <div ng-repeat="projectCol in projectRow">
                            <div class="col-sm-6 col-lg-4">
                                <a ng-href="{{projectCol.href}}" target="_blank">
                                    <div class="thumbnail">
                                    <img ng-src="{{projectCol.img}}" alt="" style="max-height: 180px;">
                                    <div class="caption">
                                        <h3>{{projectCol.title}}</h3>
                                        <p>{{projectCol.description}}</p>
                                    </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="games">
            <div class="tab-pane active" id="node">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" ng-repeat="projectRow in projects.games">
                            <div ng-repeat="projectCol in projectRow">
                                <div class="col-sm-6 col-lg-4">
                                    <a ng-href="{{projectCol.href}}" target="_blank">
                                        <div class="thumbnail">
                                        <img ng-src="{{projectCol.img}}" alt="" style="max-height: 180px;">
                                        <div class="caption">
                                            <h3>{{projectCol.title}}</h3>
                                            <p>{{projectCol.description}}</p>
                                        </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="webapps">
            <div class="tab-pane active" id="node">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" ng-repeat="projectRow in projects.webapps">
                            <div ng-repeat="projectCol in projectRow">
                                <div class="col-sm-6 col-lg-4">
                                    <a ng-href="{{projectCol.href}}" target="_blank">
                                        <div class="thumbnail">
                                        <img ng-src="{{projectCol.img}}" alt="" style="max-height: 180px;">
                                        <div class="caption">
                                            <h3>{{projectCol.title}}</h3>
                                            <p>{{projectCol.description}}</p>
                                        </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="others">
            <div class="tab-pane active" id="node">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row" ng-repeat="projectRow in projects.others">
                            <div ng-repeat="projectCol in projectRow">
                                <div class="col-sm-6 col-lg-4">
                                    <a ng-href="{{projectCol.href}}" target="_blank">
                                        <div class="thumbnail">
                                        <img ng-src="{{projectCol.img}}" alt="" style="max-height: 180px;">
                                        <div class="caption">
                                            <h3>{{projectCol.title}}</h3>
                                            <p>{{projectCol.description}}</p>
                                        </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>