<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Pong</title>
	<style type="text/css">
		canvas {
			display: block;
			margin-left: auto;
			margin-right: auto;
			border: solid;
		}
	</style>
</head>
<body>
	<canvas id="canvas"></canvas>
	<script type="text/javascript">
		window.onload = function() {

			var canvas = document.getElementById("canvas");
			canvas.width = 320;
			canvas.height = 480;
			var ctx = canvas.getContext("2d");

			var balls = [];

			for (var i = 0; i < 10; i++) {
				var x = Math.floor(Math.random()*canvas.width);
				var y = Math.floor(Math.random()*canvas.height);
				balls.push(new Ball(x, y));
			}
			
			function Ball(x, y) {
				this.x = x;
				this.y = y;
				this.r = 10;
				this.vx  = 0;
				this.vy = 0;

				this.update = function() {
					this.x += this.vx;
					this.y += this.vy;
					if(this.x - this.r < 0) {
						this.x = this.r;
						this.vx *= -0.8;
					}
					if(this.x + this.r > canvas.width) {
						this.x = canvas.width - this.r;
						this.vx *= -0.8;
					}
					if(this.y - this.r < 0) {
						this.y = this.r + 10;
						this.vy *= -0.8;
					}
					if(this.y + this.r > canvas.height) {
						this.y = canvas.height - this.r;
						this.vy *= -0.8;
					}
					if(this.vx < 2 && this.vx > -2) {
						this.vx = 0;
					}
					if(this.vy < 2 && this.vy > -2) {
						this.vy = 0
					}
				};
				this.draw = function() {
					ctx.fillStyle = "#000";
					ctx.beginPath();
					ctx.arc(this.x, this.y, this.r, 0, Math.PI*2);
					ctx.fill();
				};
			}

			function run() {
				var loop = function() {
					update();
					draw();
					window.requestAnimationFrame(loop, canvas);
				}
				window.requestAnimationFrame(loop, canvas);
			}

			function update() {
				for (var i = 0; i < balls.length; i++) {
					balls[i].update();
				}
			}

			function draw() {
				ctx.fillStyle = "rgba(255, 255, 255, 0.2)";
				ctx.fillRect(0, 0, canvas.width, canvas.height);
				for (var i = 0; i < balls.length; i++) {
					balls[i].draw();
				}
			}

			window.ondevicemotion = function(event) {
				var dx = event.accelerationIncludingGravity.x, 
				dy = event.accelerationIncludingGravity.y;
				for (var i = 0; i < balls.length; i++) {
					balls[i].vx += dx*=-1;
					balls[i].vy += dy;
				}
			};
			run();
		};

		</script>
	</body>
	</html>